In [1]:
# import libraries
import numpy as np            
import matplotlib.pyplot as plt    
import seaborn as sns               
import pandas as pd

In [2]:
df = pd.read_csv('weather_new.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39063 entries, 0 to 39062
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          39063 non-null  object
 1   temperature        39058 non-null  float64
 2   relative_humidity  39058 non-null  float64
 3   dew_point          39058 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.2+ MB

In [6]:
# write a function to clean the weather data 
def clean_weather_data(data):
    data = data.dropna()
    return data
    
df_clean = clean_weather_data(df)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39058 entries, 0 to 39061
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          39058 non-null  object
 1   temperature        39058 non-null  float64
 2   relative_humidity  39058 non-null  float64
 3   dew_point          39058 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.5+ MB

In [7]:
df_clean.head()

        date_time  temperature  relative_humidity  dew_point
0  5/3/2023 14:51        75.78              22.96      35.34
1  5/3/2023 14:56        74.03              24.02      35.01
2  5/3/2023 15:01        72.86              24.31      34.32
3  5/3/2023 15:06        72.23              24.91      34.40
4  5/3/2023 15:11        71.80              25.18      34.30